<!doctype html>
<html lang="ru">
<head>
    {% block head%}{% endblock %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
    <title>{% block title%}{% endblock %}</title>
</head>
<body>
      <div class="header">
        <div class="container">
            <ul>
                <li><a href="/" class="current">Главная</a></li>
                <li><a href="/kurs3">3 курс</a></li>
                <li><a href="/kurs4">4 курс</a></li>
                <li><a href="/about">Контакты</a></li>
            </ul>
        </div>
  </div>
{% block body%}
<body>
    <header>
        <h1><?v(name)?></h1>
    </header>
        <footer>
        <img src=""> alt="Фото студента">
    </footer>
    <main>
        <section id="academic-achievements">
        <h2>Учебные достижения</h2>
            <table class = "info">
					<?for sentence in sentences_dost:?>
						<tr><td><?v(sentence)?></td></tr>
					<?endfor?>
				</table>
        </section>
        <section id="programming-skills">
            <h2>Программные навыки</h2>
            <table class = "info">
					<?for sentence in sentences_prog:?>
						<tr><td><?v(sentence)?></td></tr>
					<?endfor?>
				</table>
        </section>
    </main>

</body>
{% endblock %}

</body>
</html>
