<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<link href="end.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
	<form method = GET action = 10.ptn id=test_form>
	<table align="center">
		<tr>
			<td align="center" >Правила игры</td>
		</tr>
			<tr>
			<td width = 600 align="center" > Пользователь вводит значение от 1 до 100. При нажатии кнопки "проверить" программа сравнивает задуманное число с введеным и выводит результат на экран. Игра продолжается до тех пор пока пользователь не угадает число.</td>
		</tr>
		<tr>
			<td  align="center"> Введите ник:  <input type = text name = nik> </td>
		</tr>
		<tr>
			<td align="center"><input type = submit  value = 'Начать игру' > </td>
		</tr>
	</table>
	</form>
</div>
</body>
</html>